<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--여기는 매핑할 Mapper 의 풀 패키지명을 적어준다-->
<mapper namespace="com.fourdrone.dakcheerup.mapper.AccountMapper">
    <resultMap type="com.fourdrone.dakcheerup.domain.member.Member" id="MemberResult">
        <result property="memberId" column="MEMBER_ID" />
        <result property="memberPassword" column="MEMBER_PASSWORD" />
        <result property="memberName" column="MEMBER_NAME" />
        <result property="regDate" column="MEMBER_REG_DATE" />
        <result property="memberSignOutRequest" column="MEMBER_SIGNOUT_REQUEST" />
        <result property="memberSignOutRequestDate" column="MEMBER_SIGNOUT_REQUEST_DATE" />
    </resultMap>

    <select id="getMemberList" resultMap="MemberResult">
        SELECT  * FROM  TB_MEMBER
    </select>

    <select id="getMember" parameterType="String" resultMap="MemberResult">
        SELECT  * FROM  TB_MEMBER  WHERE member_Id = #{memberId}
    </select>


    <insert id="addMember" parameterType="com.fourdrone.dakcheerup.domain.member.Member"> <!-- useGeneratedKeys="true" keyProperty="id"> -->
        INSERT INTO TB_MEMBER (member_id, member_name, member_password, member_reg_date)
        VALUES (#{memberId}, #{memberName}, #{memberPassword}, #{regDate})
    </insert>

    <update id="modMember" parameterType="com.fourdrone.dakcheerup.domain.member.Member">
        UPDATE TB_MEMBER
        SET member_password = #{memberPassword} , member_name=#{memberName}
        WHERE member_id = #{memberId}
    </update>

    <update id="modMemberSignOut" parameterType="com.fourdrone.dakcheerup.domain.member.Member">
        UPDATE TB_MEMBER
        SET MEMBER_SIGNOUT_REQUEST = #{memberSignOutRequest} , MEMBER_SIGNOUT_REQUEST_DATE=#{memberSignOutRequestDate}
        WHERE member_id = #{memberId}
    </update>


    <delete id="delMember" parameterType="String">
        DELETE FROM TB_MEMBER WHERE member_id = #{memberId}
    </delete>


    <select id="getMemberForLogin" parameterType="com.fourdrone.dakcheerup.domain.member.Member" resultMap="MemberResult">
        SELECT  * FROM  TB_MEMBER
        WHERE member_id = #{memberId} AND member_password = #{memberPassword}
    </select>

</mapper>