.wizard-head-box { border-bottom:1px solid #ccc; margin-bottom:20px;}
.wizard-head-content { font-size : 18pt; color:#000;}
.display-none { display:none; margin:0; padding:0; }
.display-none-a1 { margin-left:-20px; }
.display-none-a2 { margin-left:-30px; }
.panel-border { border-right:1px solid #333; border-left:1px solid #333; border-bottom:1px solid #333;}
#print-template-tumb 
.print-template-select-n { border:1px solid #ccc; }
.print-template-select-y { border:3px solid #00acac;}
#print-template-preview { border-left: 1px solid #ccc; }